.header-nav-button[b-sd855pan4d] {
	height: 70px;
	width: 70px;
	border: 1px solid #e0e0e5;
	border-radius: 5px;
/*	margin-right: 5px;*/
	align-items: center;
	justify-content: center;
	display: flex;
}

.header-nav-button > a[b-sd855pan4d] {
	display: flex;
	flex-direction: column;
	color: black;
	text-decoration: none;
	align-items: center;
	justify-content: center;
}

.header-nav-button > a:hover[b-sd855pan4d] {
	color: #fff;
}

.header-nav-button > a > i[b-sd855pan4d] {
	font-size: 1.4rem;
}

.header-nav-button:hover[b-sd855pan4d] {
	background-color: #258cfb;
	color: #fff;
}

.dropdown-item:hover[b-sd855pan4d] {
	background-color: #0d6efd;
	color: #fff;
}

		